{% extends 'base.html' %}

{% block content %}
    <div class="container">
		<h3>Show an email field (allows only one email address):</h3>
		<form action="{{url_for('assessing')}}" method="POST">
		  <input type="hidden" id="type_get" name="type_get" value="{{type_get}}">
          <input type="hidden" id="token" name="token" value="{{token}}">
          <input type="hidden" id="email" name="email" value="{{email}}">
		  <label for="pin">Enter the PIN you recieved by email:</label>
		  <input type="text" id="pin" name="pin">
		  <input type="submit">
		</form>
    </div>
{% endblock %}