{% extends 'base.html' %}

{% block content %}
    <div class="container">
		<h3>Show an email field (allows only one email address):</h3>
		<form action="{{url_for('assess')}}" method="POST">
		  <input type="hidden" id="type_get" name="type_get" value="{{type_get}}">
          <input type="hidden" id="token" name="token" value="{{token}}">		  
		  <label for="email">Enter your email:</label>
		  <input type="email" id="email" name="email">
		  <input type="submit">
		</form>
    </div>
{% endblock %}