<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

    </head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Company Search - Example</a>
        </div>
        <ul class="nav navbar-nav">

            <li class={% if module=='home' %}"active"{%else%}""{%endif%}><a href="/">Home</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.type_user == 1 %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
                <li class={% if module=='logout' %}"active"{%else%}""{%endif%}><a href="/logout">Log out</a></li>

            {% else %}
                <li class={% if module=='login' %}"active"{%else%}""{%endif%}><a href="/login">Login</a></li>
                <li class={% if module=='signup' %}"active"{%else%}""{%endif%}><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>

    {% block alert %}
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                </div>
            {% endfor %}
          </div>
      </div>
    {% endblock alert %}

    {% block content %} {% endblock %}

</body>

</html>